{{!-- 
    Alert Component 
    This component is used to display alerts on the page. 
    It is a simple alert component that can be used to display messages to the user. 
--}}

<!-- Alert -->
<div class="alerts">
        <div class="alert alert-primary alert-dismissible">
            <div class="container">
                {{#if this.header }}
                <span class="alert-level" >
                    {{#if this.icon }}
                    <span class="ca-gov-icon-{{ this.icon }}"></span>
                    {{/if}}
                    {{ this.header }}
                </span>
                {{/if}}

                {{#if this.msg }}
                    {{ this.msg }}
                {{/if}}
                {{#if this.url }}
				<a href="{{ this.url }}" target="_blank" class="alert-link btn btn-outline-dark btn-sm">{{ this.text }}</a>
                {{/if}}

                <button class="btn btn-alt ca-gov-icon-close-mark" data-bs-dismiss="alert"  aria-label="Close Alert {{ @index }}">
                    <span class="sr-only">x</span>
                </button>
            </div>
        </div>
    </div>
<!-- End of Alert -->
